# --- CONFIGURATION BLOCKCHAIN (ALGORAND) ---
# URL de l'API Algod (ex: AlgoNode, PureStake, ou noeud local)
ALGOD_URL="https://testnet-api.algonode.cloud"
ALGOD_TOKEN=""

# Identité de la Trésorerie Centrale (Maître de l'onboarding)
# Mnemonic de 25 mots du compte qui financera les nouvelles universités
TRESO_MNEMONIC="votre mnemonic ici ..."
TRESO_ADDRESS="votre adresse ici ..."

# --- CONFIGURATION DJANGO ---
# Clé secrète (Indispensable pour la production)
SECRET_KEY="votre-cle-secrete-django"

# Mode Debug (Mettre à False en production)
DEBUG=True

# --- BASE DE DONNÉES (Optionnel pour PostgreSQL) ---
# DB_NAME=miab_db
# DB_USER=ouedraogo
# DB_PASSWORD=password
# DB_HOST=localhost
# DB_PORT=5432
