# Algorand Treasury Configuration
# Get a mnemonic from Algorand Wallet or a generator, and fund it via Testnet Dispenser
TRESO_MNEMONIC="votre mnémonique de 25 mots ici..."

# JWT Secret Key
SECRET_KEY="django-insecure-..."
